/* Reusing the navbar styles from ClientIndex.css */
.account-container {
    max-width: 1500px;
    margin: 20px auto;
    background-color: #ffe4e6; /* Soft pink background */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .account-details h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
    color: black;
  }
  
  .form-row-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adds space between inputs */
    margin-bottom: 15px;
  }
  
  .form-row {
    flex: 1; /* Ensures each form element takes equal space */
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .account-input, .account-select {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background-color: rgba(255,255,255, .7);
  }
  
  .account-input:focus, .account-select:focus {
    outline: none;
    border-color: #4a2c54;
  }
  
  .divider {
    border: none;
    border-top: 2px solid black;
    margin: 20px 0;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .delete-account-btn, .save-changes-btn {
    margin-top: 60px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .delete-account-btn {
    background-color: #e63946;
    color: white;
  }
  
  .save-changes-btn {
    background-color: #4a2c54;
    color: white;
  }
  
  .delete-account-btn:hover {
    background-color: #c22c39;
  }
  
  .save-changes-btn:hover {
    background-color: #371f40;
  }
  
  .notification-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;

    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.notification-card {
    background-color: #fde8e8;
    padding: 15px;
    border-radius: 15px;
    width: 800px;
    padding: 5%;
}

.notification-card p{
  font-size: 20px;
}
.notification-header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
}

.notification-time {
    font-size: 30px;
    font-weight: bold;
}
