/* Reusing the navbar styles from ClientIndex.css */
.account-container {
    width: 70%;
    margin: 2% auto;
    background-color: #ffe4e6; /* Soft pink background */
    padding: 2%;
    border-radius: 3%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }
  
  .account-details h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5%;
    color: black;
  }
  
  .form-row-group {
    display: flex;
    justify-content: space-between;
    gap: 3%; /* Adds space between inputs */
    margin-bottom: 2%;
  }
  
  .form-row {
    flex: 1; /* Ensures each form element takes equal space */
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 2%;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .account-input, .account-select {
    padding: 5px;
    border: none;
    border-radius: 12px;
    font-size: 100%;
    background-color: rgba(255,255,255, .7);
  }
  
  .account-input:focus, .account-select:focus {
    outline: none;
    border-color: #4a2c54;
  }
  
  .divider {
    border: none;
    border-top: 2px solid black;
    margin: 2% 0;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
  }
  
  .left-buttons,
  .right-buttons {
    display: flex;
    gap: 20%;
  }
  
  .delete-account-btn,
  .save-changes-btn,
  .cancel-account-btn {
    padding: 10% 10%;
    border: none;
    border-radius: 10px;
    font-size: 100%;
    cursor: pointer;
  }
  
  .delete-account-btn {
    background-color: #e63946;
    color: black;
  }
  
  .cancel-account-btn {
    background-color: #4a2c54;
    color: white;
  }
  
  .save-changes-btn {
    background-color: #00771a;
    color: white;
    white-space: nowrap;
  }
  
  .delete-account-btn:hover {
    background-color: #c22c39;
  }
  
  .cancel-account-btn:hover {
    background-color: #371f40;
  }
  
  .save-changes-btn:hover {
    background-color: #004417;
  }
  
  
  .notification-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 80%;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.notification-card {
    background-color: #fde8e8;
    padding: 15px;
    border-radius: 15px;
    width: 800px;
    padding: 5%;
}

.notification-card p{
  font-size: 20px;
}
.notification-header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
}

.notification-time {
    font-size: 30px;
    font-weight: bold;
}

.form-row-label{
  color: black;
}