* {
  margin: 0;
  padding: 0;
  font-family: sparadiseMainFont;
}

@font-face {
  font-family: sparadiseMainFont;
  src: url(Product\ Sans\ Regular.ttf);
}

body {
  margin: 0;
  display: flex;
  font-family: 'Arial', sans-serif;
  background-color: #FDF9FE;
}

.servman-container {
  display: flex;
  width: 100%;
}

.service-main-content {
  flex-grow: 1;
  padding: 2%;
  width: 80%;
  background-color: #FDF9FE;
  margin-left: 17.5%;
  position: absolute;
}

.service-management-location {
  color: black;
  size: 4rem;
}

.service-header {
  display: flex;
  align-items: center;
  gap: 1%;
  /* Adds spacing between the arrow and the header */
}

.service-header .back-arrow {
  text-decoration: none;
  font-size: 100%;
  color: black;
  cursor: pointer;
}

.service-back-arrow img {
  width: 40px;
  padding-bottom: 12px;
}

.service-header h1 {
  margin: 0;
  /* Ensures the header aligns vertically with the arrow */
}


.service-header h1 {
  font-size: 250%;
  color: black;
  margin-bottom: 2%;
}

.service-form-section {
  background-color: #FDE9EE;
  padding: 3%;
  border-radius: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.service-form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5%;
}

.service-form-row label {
  margin-bottom: .5%;
  font-weight: bold;
}

/* Grouping input fields */
.service-form-row-group {
  display: flex;
  gap: 5%;
  /* Space between grouped fields */
  margin-bottom: .5%;
  /* Space between groups */
}

.service-form-row-group .service-form-row {
  flex: 1;
  /* Makes the fields in the group equally wide */
}



input,
textarea,
select {
  padding: 1.5%;
  border: 1px solid #ccc;
  font-size: 120%;
}

textarea {
  height: 100%;
  resize: none;
}

.service-history-label {
  margin-bottom: 2%;

}

.service-history {
  margin-top: 1%;
}

.service-history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2%;
}

.service-history-table th,
.service-history-table td {
  padding: 1%;
  text-align: center;
}

.service-history-table th {
  background-color: #6B009E;
  color: white;
}


.service-maintenance-delete-btn {
  background-color: #9E1A24;
  color: white;
  padding: 10% 10%;
  border: none;
  border-radius: 10%;
  font-size: 100%;
}

.service-form-actions {
  text-align: right;
  margin-top: 1%;
}

.service-cancel-btn {
  background-color: #ccc;
  color: black;
  padding: 1% 2%;
  border: none;
  width: 20%;
  float: left;
}

.addServiceMaintenanceButton {
  background-color: #6B009E;
  float: right;
  color: white;
  padding: .7% 3%;
  border: none;
  font-size: 120%;

}

.service-delete-btn {
  background-color: #9E1A24;
  color: white;
  padding: 1% 2%;
  border: none;
  margin-right: 10px;
  float: left;
  width: 20%;
}

.service-save-btn {
  background-color: green;
  color: white;
  padding: 1% 2%;
  border: none;
  width: 20%;
}

.service-maintenance {
  background-color: #FDE9EE;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 1.5%;
}

.service-maintenance-label {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 10%;
}

.service-maintenance .service-form-row-group {
  padding-top: 22%;
  color: black;
}

.service-scroll-container {
  background-color: #FDE9EE;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 2%;
  padding: 1%;
}

.service-scroll-item {
  flex: 0 0 auto;
  width: 30%;
  /* Adjusted for content */
  height: 150%;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
  display: flex;
}

.service-price {
  font-weight: bold;
  color: #000000;
  font-size: 2rem;
  text-align: right;
}

.service-name {
  font-weight: bold;
  font-size: 220%;
  margin-top: 5%;
}

.service-services {
  margin-top: 5%;
  margin-left: 2%;
  font-size: 120%;
  color: black;
  margin-bottom: 5%;
  text-align: left;
}

.service-services-conflict {
  color: #FF0000;
}


.service-description {
  white-space: normal;
  margin-top: 5%;
  font-size: 120%;
  color: #777;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


.add-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 2%;
  font-size: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20%;
  margin-bottom: 5%;
}

.add-btn:hover {
  background-color: #45a049;
}

.remove-btn {
  background-color: #850D0D;
  color: white;
  border: none;
  padding: 2%;
  font-size: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20%;
  margin-bottom: 5%;
}

.remove-btn:hover {
  background-color: #451414;
}

.voucher-deduction label {
  font-weight: bold;
  margin-right: 1%;
}