* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sparadiseMainFont;
}

@font-face {
  font-family: sparadiseMainFont;
  src: url(Product\ Sans\ Regular.ttf);
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
}

.employee-management-location {
  color: black;
}

.employee-main-content {
  margin-left: 17.5%;
  background-color: #FDF9FE;
  width: 80%;
  position: absolute;
  padding: 2%;

}

.employee-header {
  display: flex;
  align-items: center;
  gap: 1%;
  /* Adds spacing between the arrow and the header */
}

.service-back-arrow img {
  width: 40px;
  padding-bottom: 12px;
}

.employee-header .back-arrow {
  text-decoration: none;
  font-size: 100%;
  color: black;
  cursor: pointer;
}

.employee-header h1 {
  margin: 0;
  /* Ensures the header aligns vertically with the arrow */
}


.employee-header h1 {
  font-size: 250%;
  color: black;
  margin-bottom: 20px;
}

.employee-form-section {
  background-color: #FDE9EE;
  padding: 3%;
  border-radius: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.employee-form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: .5%;
}


.employee-form-row label {
  margin-bottom: .5%;
  font-weight: bold;
}

.employee-input{
  padding: 10px;
}
/* Grouping input fields */
.employee-form-row-group {
  display: flex;
  gap: 2%;
  /* Space between grouped fields */
  margin-bottom: .5%;
  /* Space between groups */
}

.employee-form-row-group .employee-form-row {
  flex: 1;
  /* Makes the fields in the group equally wide */
}

.employee-form-row textarea {
  resize: none;
  /* Allow resizing only vertically */
}


input,
textarea,
select {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 120%;
}

.employee-gap-row {
  border-bottom: #ccc solid 1px;
  margin-bottom: 2%;
  margin-top: 2%;
}

textarea {
  height: 100%;
}

.employee-history-label {
  margin-bottom: 1%;

}

.employee-history {
  margin-top: 1%;
}

.employee-history-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-history-table th,
.employee-history-table td {
  padding: 15px;
  text-align: center;
}

.employee-history-table th {
  background-color: #6B009E;
  color: white;
}


.employee-maintenance-delete-btn {
  background-color: #9E1A24;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
}

.employee-form-actions {
  text-align: right;
  margin-top: 5%;
}

.employee-cancel-btn {
  background-color: #ccc;
  color: black;
  padding: 1.5%;
  border: none;
  border-radius: 5%;
  width: 20%;
  cursor: pointer;
  margin-right: 1%;
}

.employee-active-btn{
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 2%;
  width: 25%;
  text-decoration: none;
}
.leaves-btn {
  background-color: #6B009E;
  color: white;
  padding: 1%;
  border: none;
  border-radius: 5px;
  width: 49%;
  text-decoration: none;
  text-align: center;
}


.employee-delete-btn {
  background-color: #9E1A24;
  color: white;
  padding: 1.5%;
  border: none;
  border-radius: 5%;
  float: left;
  width: 20%;
  cursor: pointer;
}

.employee-delete-btn:hover {
  background-color: #451414;
}

.employee-save-btn {
  background-color: green;
  color: white;
  padding: 1.5%;
  border: none;
  border-radius: 5%;
  float: right;
  width: 20%;
  cursor: pointer;
}

.employee-save-btn:hover {
  background-color: #45a049;
}

.employee-maintenance {
  background-color: #FDE9EE;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 1.5%;
}

.employee-maintenance-label {
  font-size: 2rem;
  font-weight: bold;
}

.employee-maintenance .employee-form-row-group {
  padding-top: 2%;
  color: black;
}

.employee-inactive-btn {
  background-color: #9E1A24;
  color: white;
  padding: 2%;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  float: left;
  width: auto;
  align-items: center;
  cursor: pointer;
}

