/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f8f9fa;
    overflow-y: auto;
}

.container {
    display: flex;
    width: 100%;
    overflow-y: auto;
    min-height: 100vh;
}

.employee-cancel-btn-booking{
    background-color: rgb(155, 3, 3);
    color: white;
}

.service-menu-main-content {
    margin-left: 17.5%;
    background-color: #FDF9FE;
    width: 80%;
    position: relative;
    overflow-y: auto;
}

.service-menu-main-content-location {
    color: black;
    size: 4rem;
}


.service-menu-form-section {
    background-color: #FDE9EE;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 1.5%;
}

.menu-item:hover,
.menu-item.active {
    background-color: #4a148c;
}

/* Main content styles */
.service-menu-main-content {
    flex-grow: 1;
    padding: 2%;
}

h1 {
    margin: 0 0 30% 0;
}

.service-stats {
    display: flex;
    margin-bottom: 1%;
}

.service-stat {
    text-align: center;
    border-radius: 10px;
    flex-grow: 1;
    font-size: 300%;
    font-weight: bold;
}

.service-stat span {
    color: black;
    font-size: 50%;
    font-weight: normal;
    margin-bottom: 2%;
}

.controls {
    display: flex;
    gap: 1%;
    margin-bottom: 2%;
}

.search {
    padding: 1%;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-btn,
.action-btn {
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn {
    background-color: #e0e0e0;
    color: #333;
}

.action-btn {
    background-color: #6B009E;
    height: 100%;
    color: #fff;
}

.services-table {
    width: 100%;
    border-collapse: collapse;
}

.services-table th,
.services-table td {
    padding: 1%;
    text-align: left;
    font-size: 140%;
}

.services-table th {
    background-color: #6B009E;
    color: #fff;
}


.services-table tr:hover {
    background-color: #fff0f3;
}

.room-maintenance {
    width: 90%;
    background: #FDE9EE;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  
  .room-maintenance h2 {
    font-size: 2em;
    color: black;
    margin-bottom: 10px;
  }

  /* Button */
  .edit-btn {
    background-color: #6B009E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
    align-self: flex-end;
    width: 10%;
  }
  
  .edit-btn:hover {
    background-color: #58007D;
  }

  .rooms-edit-btn{
    color: white;
    background-color: #6B009E;
    width: 50%;
    border-radius: 10px;
    border: none;
    padding: 4%;
  }