input.actual-datetime-input {

    //

}

input.actual-datetime-input:invalid {

    cursor: pointer;

}

input.actual-datetime-input:invalid:before {

    color: #9d9d9d;
    position: absolute;
    background: #fff;
}

input.actual-datetime-input.start:invalid:before {

    content: 'Start Now';

}

input.actual-datetime-input.end:invalid:before {

    content: 'End Now';

}

input.actual-datetime-input.na:invalid:before {

    content: 'N/A';

}

input.actual-datetime-input:focus:before {

    width: 0;
    content: "";

}
