* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sparadiseMainFont;
}

@font-face {
    font-family: sparadiseMainFont;
    src: url(Product\ Sans\ Regular.ttf);
}

.sidebar {
    width: 17%;
    background-color: #552B59;
    color: white;
    height: 100%;
    position: fixed;
    padding: 2%;
  }
  
  .sidebar-logo img {
    height: 80%;
    width: 80%;
    padding-top: 5%;
  }

  .sidebar li{
    padding: 5%;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidebar-menu li {
    margin: 10% 0;
  }
  
  .sidebar-menu li a {
    text-decoration: none;
    color: white;
    font-size: 140%;
  }
  
  .sidebar-menu li a.active {
    font-weight: bold;
    text-decoration: underline;
  }